@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web'); /*importação de fontes - google.com/fonts*/
@font-face {
    font-family: 'fontLogo'; /*dando 'ID' para a fonte externa*/
    src: url(../_fonts/bubblegum-sans-regular.otf); /*selecionando fonte externa para usar no site*/
}

body{
    background-color: #dddddd;/*Seleciona a cor de fundo*/
    color: rgba(0, 0, 0, 1)/*seleciona a cor*/
}


div#interface {
    width:  900px; /*Delimita tamanho da interface em 800px de largura */
    background-color: #ffffff; /*define a cor de fundo*/
    margin: -20px auto 0px auto; /*Deine o espaçamento das margens = cima/direita/baixo/esquerda*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /*coloca uma ombra na caixa */
    padding: 10px; /* define espaçamento dentro do container / 1 valor = navegador considera as 4 margens*/
}

p{
    text-align: justify; /*define o alinhamento do paragrafo*/
    text-indent: 50px; /* define a identação do paragrafo*/
}
/*formatação do cabeçalho*/

header#cabecalho img#icone{
    position: absolute; /*absolute coloca o item em questão em qualquer lugar do site*/
    left: 955px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid; /* coloca uma linha de delimitação (largura cor tipo)*/
    height: 150px;
    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 80px; /* .. para voltar para a pasta anterior / no-repeat para n preencher todo o BG com a IMG / parametro deslocamento lateral + parametro deslocamento vertical*/
    
}

header#cabecalho h1{
    font-family: 'fontLogo' sans-serif; /*seleciona a fonte a ser utilizada */
    font-size: 30pt; /*seleciona o tamanho da fonte*/
    color: #606060; /* seleciona a cor da fonte*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); /*cria uma sombra para o texto (deslocamento lateral/altura/largura/cor )*/
    padding: 0px;
    margin-bottom: 0px;/*margem bot*/

}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 5px; /*margem especifica, para todas usa-se o margin solo (cima direita baixo esquerda)*/
}

/* Formatação de fotos com legenda*/

figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black; 
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.8s;

}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/*Formatação do Menu*/

nav#menu {
    display: block; 
}


nav#menu ul {
    list-style: none; /* retira as marcaçoes de listagem do menu*/
    text-transform: uppercase;  /* coloca todo o text em maiusculo*/
    position: absolute; /*mantem em um posição absoluta dentro do site*/
    top: -20px;
    left: 500px;
}

nav#menu li {
    display: inline-block; /*alinha o menu em um bloco horizontal*/
    background-color: #dddddd;/*define a cor de fundo*/
    padding: 10px; /*configura o espaçamento dentro da box*/
    margin: 2px; /*Define a margem, para 1 parametro define-se a mesma margem para todos os lados*/
    transition: background-color 0.5s; /*altera a velocidade da transição quando passar o mouse no menu*/

}

nav#menu li:hover {
    background-color: #606060; /*altera a cor quando pasar o mouse*/
}

nav#menu h1 {
    display: none; /* some com o h1 dentro do text*/
}

nav#menu a{
    color: black; /*altera a cor de fundo da ancora do menu*/
    text-decoration: none; /*tira o sublinhado das ancoras do menu*/
    }

nav#menu a:hover{
    color: #ffffff /*seleciona cor quando passa o mouse sobre a ancora*/
}

/*formatação section#corpo*/

section#corpo {
    display: block; /*ser mostrado como um bloco*/
    width: 570px; /*define a largura do bloco*/
    float: left; /*flutua a esquerda*/
    border-right: 1px solid #606060; /*define a linha lateral de divisão (largura/tipo/cor)*/
    padding-right: 15px; /*configura o espaçamento de dentro do bloco*/
}

table#tabelaspec {
    border: 1px solid #606060; /* cria uma borda de 4 lados por ter apenas um parametro de px*/
    border-spacing: 0px; /*define o espaço padrao que existe entre as bordas da celula*/
    margin-left: auto; /*define espaçamento da borda direita*/
    margin-right: auto; /*define espaçamento da borda esquerda*/
}

table#tabelaspec td {
    border: 1px solid #606060; /* cria uma borda de 4 lados por ter apenas um parametro de px*/
    padding: 5px; /*margem interna da box*/
    text-align: center; /*centraliza o texto*/
    vertical-align: top; /*Alinhamento vertical do conteudo*/

}

/*formataçao lateral*/
aside#lateral {
    display: block; /*ser mostrado como um bloco*/
    width: 300px;   /*define a largura do bloco*/
    float: right;   /*flutua a direita*/
}
/*formatação rodapé*/
footer#rodape {
    clear: both; /*limpa as configuraçoes anteriores do bloco*/
    border-top: 1px solid #606060; /*define a linha lateral de divisão (largura/tipo/cor)*/
    
}

footer#rodape p{
    text-align: center; /*alinhamento de texto do paragrafo*/
}

footer#rodape a {
    color: black; /*define a cor da ancora*/
    text-decoration: none; /*redtira decoração da ancora*/
}